/*@font-face {
  font-family: "Trickster";
  src: local("Trickster"),
    url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
    url("trickster-outline.otf") format("opentype"),
    url("trickster-outline.woff") format("woff");
}*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100&family=Share+Tech+Mono&display=swap");

.container {
  margin: auto;
  /*display: flex;*/
  /*justify-content: center;*/
  width: 80%;
}

.one {
  background-color: aqua;
  padding: 50px 30px;
  color: black;
  height: 200px;
  overflow: auto;
  /*opacity: 0;*/
  margin: 100px 10px;
}
.two {
  padding: 50px 30px;
  background-color: blue;
  color: antiquewhite;
  width: 300px;
  height: max-content;
  /*height: fit-content;*/
  height: min-content;
  height: 200px;
  overflow-y: hidden;
  overflow-y: visible;
  overflow-x: scroll;
  margin: 0px 10px;
}

.form1,
.form2 {
  width: 80%;
  padding: 20px;
  background-color: rgb(45, 7, 183);
}

.form2 {
  background-color: rgb(255, 0, 153);
}

#label-name,
#label-email {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Share Tech Mono";
}

#input {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Share Tech Mono";
}
#input:focus {
  /*outline: none;*/
  border: 2px solid rgb(183, 107, 7);
}
.section1 {
  background-color: rgb(183, 107, 7);
}
.section2 {
  background-color: rgb(103, 70, 28);
}
.section3 {
  background-color: rgb(84, 49, 4);
}

.section11 {
  background-color: rgb(92, 7, 183);
}
.section22 {
  background-color: rgb(28, 66, 103);
}
.section33 {
  background-color: rgb(81, 4, 84);
}
.btn1 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Share Tech Mono";
}
.table1 {
  margin-top: 150px;
  color: blueviolet;
  background-color: bisque;
  width: 80%;
  border: 5px solid blueviolet;
}
.table-ins {
  border: 1px solid blueviolet;
  color: rgb(226, 43, 110);
  background-color: bisque;
  width: 80%;
  margin: auto;
}

td {
  border: 1px solid;
  border-collapse: collapse;
}
th {
  border: 1px solid;
  border-collapse: collapse;
}
.tableau-produit {
  margin-top: 150px;
  color: white;
  border-collapse: collapse;
  .nombre {
    text-align: center;
  }
  .renvoi {
    text-align: left;
  }
}
